@model IEnumerable<Product>
@{
    ViewBag.Title = "Products List";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Price) $
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                    <a asp-action="Overview" asp-route-id="@product.Id">Overview</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Products" asp-action="Create" class="btn btn-primary">Create New Product</a>




